.item-divider {
  background-color: #EDF0F3;
  text-align: center;
  font-weight: 500;
  padding-top: 5px;
  font-size: 1em;
  height: 20px;
  font-family: Bangers, cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #BF2E34;
  border: 0;
  //box-shadow: 0 1px 4px #E4E2E2;
  margin-bottom: -7px;
}

