.item-divider {
  background-color: #EDF0F3;
  text-align: center;
  font-weight: 500;
  padding-top: 4px;
  font-size: .77em;
  height: 20px;
  text-transform: uppercase;
  color: #525050;
  box-shadow: 0 1px 4px #E4E2E2;
}
