<ion-view view-title="Dashboard">
  <div class="bar bar-header bar-dark">
    <button class="button icon ion-android-menu"></button>
    <h1 class="title">New on Netflix</h1>
    <button class="button icon ion-calendar"></button>
  </div>
  <ion-content class="has-tabs-top">
    <div class="list" collection-repeat="day in monthsTitles.days">
      <div>
        <div class="item item-divider">
          {{ thisMonth.month }} {{ day.day }}
        </div>
        <ul ng-repeat="title in day.titles">
          <ng-include src='"./templates/title.html"'></ng-include>
        </ul>
      </div>

    </div>
  </ion-content>
</ion-view>
