<ion-tabs ng-controller="DateTabsCtrl" class="tabs-top">

  <ion-tab title="{{ previousMonth.month | limitTo: 3 }}" href="#/tab/previous">
    <ion-nav-view name="tab-previous"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{ currentMonth.month | limitTo: 3 }} {{ currentMonth.year }}" href="#/tab/current">
    <ion-nav-view name="tab-current"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{ nextMonth.month | limitTo: 3 }}" href="#/tab/next">
    <ion-nav-view name="tab-next"></ion-nav-view>
  </ion-tab>

</ion-tabs>
